{% extends 'main/base.html' %}
{% block title %} Создание маршрута {% endblock %}

{% block content %}
    <h3>Создание маршрута</h3>

    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'save_route'%}" method="post">  {# enctype="multipart/form-data" #}
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}
