{% extends 'main/base.html' %}

{% block title %} Маршруты {% endblock %}

{% block content %}
    <h3 align="center">Список маршрутов</h3>
    {# Отображение списка поездов #}
    <div class="row">
        <div class="col-md-10 mx-auto my-3">
            <table class="table table-striped">
                <tr>
                    <th>Название</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Время в пути час(ов)</th>
                    <th>Список поездов по маршруту</th>
                </tr>
                    <tr>
                        <td>{{object.name}}</td>
                        <td>{{object.departure_city}}</td>
                        <td>{{object.destination_city}}</td>
                        <td>{{object.travel_time_common}}</td>
                        <td>
                            {% for train in object.trains.all %}
                                <p>{{train}}, время в пути: {{ train.travel_time }} час(ов)</p>
                            {% endfor %}
                        </td>
                    </tr>
            </table>
        </div>
    </div>
{% endblock %}